
.answers_container
	{
	width:100%;
	margin:0px 0 0px 0px;

	
		.answers_list
		{
		width:100%;
		list-style-type: none;
		clear:both;
		border-bottom:1px solid $silver;
		margin:0 0 25px 0;
		padding:0px 0 5px 0;
		clear:left;
		
			h3
			{
			margin:0 0 10px 70px;	
			}
		
				
			.answer_count
			{
			width:60px;
			float:left;
			border-right:1px solid $silver;
			padding:0 10px 0 0;
			margin:0 10px 0 0;
			
				.answer_counter
				{
				@include font ($bold, em(28), $light_gray, 1em, none);
				text-align:center;
				margin:0px
				}
			
				.answer_label
				{
				@include font ($light, em(11), $light_gray, 1em, uppercase);
				text-align:center;
				margin:5px 0px 0 0;
				}
			
			
			}
			
	
			.question_response
			{
			@include spanner (6, 674.797,0, 3.5);	
			list-style-type:none;
			margin:0px 0 0px 70px;
			clear:left;
			
				@media screen and (max-width:em(500)) 
				{
				width:auto;
				margin:10px 0 10px 70px;		
				}
			
				.question_link
				{
				width:15px;
				height:15px;
				border-left:1px solid $silver;
				border-bottom:1px solid $silver;
				float:left;
				margin:0 5px 0 0;
				}
				
				.question_below_line
				{
				@include font ($light, em(13), $light_gray, 1.8em, none);
				margin:0 0 5px 0;
				min-height:25px;
				margin-left:30px;
				padding-top:3px;
				
					a
					{
					color:$dark_gray;
					border-bottom:0px;
					}
				
				
					@media screen and (max-width:em(500)) 
					{
					padding-top:0px;
					}
				
				
					span
					{
					color:$light_gray;
					}
				
				}
				
				
				.question_avatar
				{
				width:22px;	
				float:left;
				vertical-align: bottom;
				margin:0 5px 0 0;
				}
				
				
				.question_avatar_inline
				{
				width:22px;	
				vertical-align: top;
				margin:0px 0px 0 5px;
				display:inline-block;
				}
		
			
			}
		
		.small_button
		{
		float:right;
		margin:15px 0 0 0;
		width:70px;
		
			@media screen and (max-width:em(500)) 
			{
			float:none;
			clear:left;
			margin:0px 0 10px 70px;
			}
		
		}
		
				
		}
		
	}
	
	
	.question_title
	{
	margin:0 0 0px 0;
	}
	
	.question_body
	{
	height:em(90);
	margin-top:em(20);

	}	
	
