$background:#f5f9fa;
$dark_background:#d2d2dc;
$body:#222;
$red: #cc0202;
$red_too: #f0b3b3;
$dark_red:#a50202;
$silver: #cac8d2;
$hover:#548096; 
$aqua_blue:#4094aa;
/* $dark_silver: #c8c8c8; */
$light_gray: #9b949e;
$medium_gray: #67616b;
$dark_gray:#555;
$text:#222;
$yellow:#f0f0dc;
$green:#6B8E23;
$white:#fff;
