$background:#f0f4f5;
$dark_background:#e1e1e1;
$body:#222;
$red: #cc0202;
$red_too: #f0b3b3;
$dark_red:#a50202;
$silver: #c8c8c8;
$hover:#aaaaaa;
/* $dark_silver: #c8c8c8; */
$light_gray: #999;
$medium_gray: #666;
$dark_gray:#555;
$text:#222;
$yellow:#f0f0dc;
$green:#6B8E23;
$white:#fff;
$blue:#5977a9
