
/**** MAIN CONTAINER *****/	

.container
	{
	width:100%;
	max-width:1000px;
	margin:50px auto;
	}
	
.content_container
	{
		@include spanner (10, 1000, 0, 10);	
		max-width:1000px;
		@include center (0,0);	
		@include box-sizing(border-box);
		margin-top:em(90);	

	
		@media screen and (max-width:1040px) 
		{
		width:95%;
		margin-left:2.5%;
		margin-right:2.5%;	
		}
	
		@media screen and (max-width:700px) 
		{
		width:95%;
		margin-left:2.5%;
		margin-right:2.5%;
		}
	}	
	
	
.top_info_container
	{
	width:100%;
	margin:em(90) 0 em(30) 0;
	border-bottom:3px solid $silver;
	padding:0 0 em(30) 0;
	}

	
.main_news_container
	{
	@include spanner (10, 1000, 4, 7);	
	height:auto;
	@include box-sizing(border-box);
	margin-right:2%;
	padding:0 15px 0 0;
	border-right:1px solid $silver;
	
	
	
		@media screen and (max-width:750px) 
		{
		width:100%;
		padding:0px;
		border-right:0px;
		margin-bottom:30px;
		border-bottom:3px solid $silver;
		padding-bottom:30px;
		}
	}
		

/**** RIGHT RAIL *****/	
		
.main_right_rail
	{
	@include spanner (10, 1000, 0, 3);	
	height:auto;
	padding:0px 0 0 20px;
	float:left;
	
		@media screen and (max-width:em(750)) 
		{
		width:100%;
		margin:0;
		padding:0 0px;
		}
	}
	
	
	.main_about_us
	{
	width:100%;
	height:auto;
	margin-bottom:30px;
	
			@media screen and (max-width:em(750)) 
			{
			@include spanner (4, 1000, 30, 2);
			margin:0 0 0 3%;
			}
			
			@media screen and (max-width:em(550)) 
			{
			@include spanner (4,100,0,4);
			margin:0 0 30px 0;
			}
	
	.main_about_us_section
	{
	width:100%;
	height:auto;
	margin:0 0 30px 0;
	border-bottom:1px solid $silver;
	padding:0 0 20px 0;
	
		&:nth-child(3)
		{
		border-bottom:0px;
		}
	}

	.button
	{
	float:left;
	
		@media screen and (max-width:em(500)) 
		{
		width:100%;
		float:none;
		clear:both;
		margin-bottom:15px;
		height:42px;
		}

	}
	
	
	.button_icon
	{

	
		@media screen and (max-width:em(500)) 
		{
		padding-top:12px;
		}

	}
	

	.button_options
		{
		width:auto;
		float:left;
		margin:-45px 0 0 85px;
		padding:0px;
		color:$light_gray;
		
			@media screen and (max-width:em(500)) 
			{
			margin:0;
			}
		
		
		}
		
		.button_options_too
		{
		margin:-50px 0 0 85px;
		
			@media screen and (max-width:em(500)) 
			{
			margin:0;
			}
		
		}
		
	
	input[type='text']
		{
		margin:0 0 20px 0;
		}
		
		h4
		{
		color:$red;
		clear:right;
		}
		
		
		p
		{
		color:$medium_gray;
		line-height:1.4em;
		margin-bottom:20px;
		
			a
			{
			color:$dark_gray;
			@include transition;
			
			&:hover
			{
			color:$red;
			}
			
			}
		
		}
	

	}		
	
/**** FOOTER *****/	
	
.footer
	{
	width:100%;
	height:200px;
	margin:40px 0 0 0;
	background-color:$dark_background;	
	}	
	
	
/**** FORMS ****/

/* selector */

select
	{
	width:100%;
	height:40px;
	@include font ($light, em(14), $dark_gray, 125%, none);
	background:transparent;
    background-color: $white;
    border:1px solid $silver;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    padding:5px 15px;
	box-sizing:border-box;
	background-image:url('../temp_art/arrow.svg');
	background-repeat:no-repeat;
	background-position:95% -12px;
	background-size:24px;
	@include text_transition;
	@include rounded;
	margin:0 0 25px 0;
	overflow:hidden;
	
	&:disabled
	{
	background-color:$silver;
	background-image:url('../temp_art/subtle_stripes_@2X.png');
	background-repeat:repeat;
	background-size:3px;
	color:$silver;
	border:1px solid $silver;	
	}
	
	
	option 
	{
    max-width: 120px !important;
    overflow: hidden !important;
	}

	}
	

	.inactive_selector
	{
	background-color:$silver;
	background-image:url('../temp_art/subtle_stripes_@2X.png');
	background-repeat:repeat;
	background-size:3px;
	color:$silver;
	border:1px solid $silver;
	}
	


/* text input */

textarea
	{
	@include font ($light, em(13), $medium_gray, 1.5em, none);
	box-sizing:border-box;
	border:1px solid $dark_background;
	@include rounded;
	padding:10px 18px;
	@include transition;
	width:100%;
	margin:0 0 25px 0;
	@include transition;
	
	&:focus
	{
	color:$dark_gray;
	outline:none;
	border:1px solid $aqua_blue;
	}
	
	&:active
	{
	color:$dark_gray;
	outline:none;
	border:1px solid $aqua_blue;
	}
	
	
	}
	

input[type=text]
	{
	@include font ($light, em(13), $medium_gray, 1.5em, none);
	box-sizing:border-box;
	border:1px solid $dark_background;
	@include rounded;
	padding:10px 18px;
	@include transition;
	width:100%;
	margin:0 0 25px 0;
	height:49px;
	@include transition;
	
	
	&:focus
	{
	color:$dark_gray;
	outline:none;
	border:1px solid $aqua_blue;
	}
	
	&:active
	{
	color:$dark_gray;
	outline:none;
	border:1px solid $aqua_blue;
	}
	
	
	}


		
	input[type=checkbox] 
		{
		padding:0 0px;
		border-radius:3px;
		background-color:#fff;
		border:2px solid $silver;
		-webkit-appearance:button;
		transition-property: border-color;
		transition-duration: .07s;
		transition-timing-function: ease-in-out;	
		color:#FFF;
		white-space: nowrap;
		overflow:hidden;
		width:20px !important;
		height:20px !important;
		margin:4px 0 0 0;
		@include box-sizing(border-box);
		}

	input[type=checkbox]:checked 
		{
		background-color:#fff;
		background-position:0px 0px;
		background-image:url(../temp_art/image_sprite.png);
		background-repeat:no-repeat;
		}

	input[type=checkbox]:hover 
		{
		border-color:$light_gray;
		}

	input[type=button]
		{
		padding:0px;
		
		@media screen and (max-width:em(400)) 
		{
		width:100%;
		margin-bottom:10px;
		}
		
			&:disabled
			{
			border:0px $pale_gray;
			background-color:$pale_gray;
			color:white;
			}
		
		
		}
		
	input[type=submit]
		{
		padding:0px;
		
		@media screen and (max-width:em(400)) 
		{
		width:100%;
		margin-bottom:10px;
		}
	
		}		
	
				
	/* buttons */
	
.button
	{
	@include button (150px, 42px, 16px, 2px);
	@include font ($light, em(12), $white, 100%, none);
	box-sizing:border-box;
	@include transition;
	background-color:$aqua_blue;
	border:0px;
	margin-right:15px;
	display:block;
	overflow:hidden;


		&:hover
		{
		color:$white;
		background-color:$dark_aqua;
		}
		
		&:focus
		{
		color:$white;
		background-color:$dark_aqua;
		}	
		
		&:active
		{
		color:$white;
		background-color:$dark_aqua;
		}			
	
		a
		{
		color:$white;
		border-bottom:0px;
		}
	
	}
	
.large_button
	{
	width:100%;
	}	


.small_button
	{
	@include button (70px, 28px, 9px, 2px);
	@include font ($light, em(10), $white, 100%, none);
	font-family:$sans;
	@include transition;
	text-align:center;
	background-color:$aqua_blue;
	border:1px solid $aqua_blue;
	
		@media screen and (max-width:em(400)) 
		{
		width:70px;
		}
	
		a
		{
		color:$white;
		border-bottom:0px;
		}
	

		&:hover
		{
		color:$white;
		background-color:$dark_aqua;
		border:1px solid $dark_aqua;
		}
		
	}
	
.light_button
	{
	color:white;
	background-color:$light_aqua;
	border:1px solid $light_aqua;
	}
		
	
.mini_button
	{
	@include button (50px, 21px, 6px, 2px);
	@include font ($light, em(11), $white, 100%, none);
	font-family:$sans;
	@include transition;
	text-align:center;
		
		a
		{
		color:$white;
		border-bottom:0px;
		}
	
	
	&:hover
		{
		border:1px solid $dark_aqua;
		color:$white;
		background-color: $dark_aqua;
		}
	
	}
	
.mini_button_light
	{
	color:$aqua_blue;
	background-color:$background;
	border:1px solid $aqua_blue;
	
		a
		{
		color:$aqua_blue;
		border-bottom:0px;
		}
		
		&:hover
		{
		border:1px solid $dark_aqua;
		color:$white;
		background-color: $dark_aqua;
		}	
	}
	
.button_icon
	{
	width:67px;
	float:left;
	font-family:$icon;
	font-size:em(16);
	padding-top:6px;
	}
	
.button_icon_tall
	{
	width:67px;
	float:left;
	font-family:$icon;
	font-size:em(18);
	padding-top:13px;
	}


.button_options
		{
		@include font ($light, em(12), $light_gray, 1.5em, none);
		font-family:$open;
		margin:7px 0 0 0px;
		list-style-type:none;
		float:left;
		padding-right:5px;
	
			li
			{
			margin:0 0px 2px 0px;
			line-height:1.3em;
			
			}		
		}

					
/*RESPONSIVE EMBED CONTAINER FOR VIDEOS */

.video_embed 
	{ 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
	margin:0 0 15px 0;

		iframe, .embed-container object, .embed-container embed 
		{ 
		position: absolute; 
		top: 0; left: 0; 
		width: 100%; 
		height: 100%; 
	}
	}
	
/* RESPONSIVE EMBED CODE FOR INSTAGRAM */

.instagram_embed
	{
	position: relative; 
	padding-top: 30px; 
	height: 0; overflow: hidden;
	width:390px;
	height:492px;
	margin:0 auto 15px;
	
		@media screen and (max-width:em(420)) 
		{
		padding-bottom: 120%; 
		padding-top: 30px;
		height: 0;
		width:100%;
		overflow: hidden;
		}
	

	
	iframe, object, embed 
		{ 
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		}
	
	}
	
/* RESPONSIVE VINE EMBED */

.vine_embed 
	{
	padding-top:0px;
	width:390px;
	height:390px;
	overflow: hidden;
	border:1px solid red;
	position:relative;
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	margin:0px auto 15px;
		
		@media screen and (max-width:em(420)) 
		{
		padding-bottom:100%; 
		padding-top:0px;
		width:100%;
		height:0px;
		overflow: hidden;
		border:1px solid blue;
		}	
		
		
		iframe, object, embed 
		{ 
		position:absolute; 
		top:0; 
		left:0; 
		width: 100%; 
		height: 100%;
		}
	}	

/* RESPONSIVE GETTY EMBED */

.getty_embed
	{ 
	position: relative; 
	padding-bottom: 79.96632996632997%; 
	padding-top: 30px; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; height: auto; 
	margin:0 auto 15px;
	 
		 iframe, object, embed 
		 { 
		 position: absolute; 
		 top: 0; 
		 left: 0; 
		 width: 100%; 
		 height: 100%; 
		 }
	}

/* RESPONSIVE TWITTER EMBED */

.twitter-tweet-rendered
	{
	margin:0 auto 15px;
	border:1px;
	}