
/**** MAIN CONTAINER *****/	

.container
	{
	width:100%;
	max-width:1000px;
	margin:50px auto;
	}
	
.content_container
	{
		@include spanner (10, 1000, 0, 10);	
		max-width:1000px;
		@include center (0,0);	
		@include box-sizing(border-box);
		margin-top:em(70);	
	
		@media screen and (max-width:1040px) 
		{
		width:95%;
		margin-left:2.5%;
		margin-right:2.5%;	
		}
	
		@media screen and (max-width:700px) 
		{
		width:95%;
		margin-left:2.5%;
		margin-right:2.5%;
		}
	}	
	
	
.main_news_container
	{
	@include spanner (10, 1000, 4, 7);	
	height:auto;
	@include box-sizing(border-box);
	margin-right:2%;
	padding:0 15px 0 0;
	border-right:1px solid $silver;
	
	
	
		@media screen and (max-width:750px) 
		{
		width:100%;
		padding:0px;
		border-right:0px;
		background-image:none;
		}
	}
		
	.double_rule
	{
	width:100%;
	float:right;
	border-top:3px solid $silver;
	
		@media screen and (max-width:700px) 
		{
		width:100%;
		}		
	}

/**** RIGHT RAIL *****/	
		
.main_right_rail
	{
	@include spanner (10, 1000, 0, 3);	
	height:auto;
	@include box-sizing(border-box);
	padding:0px 0 0 20px;
	float:left;
	
		@media screen and (max-width:em(700)) 
		{
		width:100%;
		padding:0 10px;
		}
	}
	
	
	.main_about_us
	{
	width:100%;
	height:auto;
	margin-bottom:30px;
	border-bottom:3px solid $silver;
		
		h4
		{
		color:$red;
		clear:right;
		}
		
		
		p
		{
		color:$light_gray;
		
			a
			{
			color:$dark_gray;
			@include transition;
			
			&:hover
			{
			color:$red;
			}
			
			}
		
		}
	

	}		
	
/**** FOOTER *****/	
	
.footer
	{
	width:100%;
	height:200px;
	margin:40px 0 0 0;
	background-color:$dark_background;	
	}	
	
	
/**** FORMS ****/

/* selector */

.selector
	{
	width:100%;
	height:40px;
	@include font ($light, em(14), $dark_gray, 125%, none);
	background:transparent;
    background-color: $white;
    border:1px solid $silver;
    outline:none;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
    padding:5px 15px;
	box-sizing:border-box;
	background-image:url('../temp_art/arrow.svg');
	background-repeat:no-repeat;
	background-position:95% -12px;
	background-size:24px;
	@include text_transition;
	@include rounded;
	margin:0 0 25px 0;
	overflow:hidden;
	
	&:disabled
	{
	background-color:$silver;
	background-image:url('../temp_art/subtle_stripes_@2X.png');
	background-repeat:repeat;
	background-size:3px;
	color:$silver;
	border:1px solid $silver;	
	}
	
	
	option 
	{
    max-width: 120px !important;
    overflow: hidden !important;
	}

	}
	

	.inactive_selector
	{
	background-color:$silver;
	background-image:url('../temp_art/subtle_stripes_@2X.png');
	background-repeat:repeat;
	background-size:3px;
	color:$silver;
	border:1px solid $silver;
	}
	

/* buttons */

.large_button
	{
	height:30px;
	@include rounded;
	width:100%;
	@include font ($light, em(12), $white, 100%, none);
	@include transition;
	background-color:$red;
	text-align: center;
	padding:10px 0 0;
	margin:0 0 30px;
		&:hover
		{
		color:$white;
		background-color:$aqua_blue;
		}
	
	}

	
.button
	{
	@include button (150px, 42px, 16px, 2px);
	@include font ($light, em(12), $white, 100%, none);
	box-sizing:border-box;
	@include transition;
	background-color:$aqua_blue;
	
		&:hover
		{
		color:$white;
		background-color:$dark_aqua;
		}
	
		a
		{
		color:$white;
		border-bottom:0px;
		}
	
	}
	
	


.small_button
	{
	@include button (70px, 28px, 9px, 2px);
	@include font ($light, em(10), $white, 100%, none);
	font-family:$sans;
	@include transition;
	text-align:center;
	background-color:$aqua_blue;
	border:1px solid $aqua_blue;
	
		a
		{
		color:$white;
		border-bottom:0px;
		}
	

		&:hover
		{
		color:$white;
		background-color:$dark_aqua;
		border:1px solid $dark_aqua;
		}
		
	}
	
.light_button
	{
	color:white;
	background-color:$light_aqua;
	border:1px solid $light_aqua;
	}
	
.mini_button
	{
	@include button (50px, 21px, 6px, 2px);
	@include font ($light, em(11), $white, 100%, none);
	font-family:$sans;
	@include transition;
	text-align:center;
		
		a
		{
		color:$white;
		border-bottom:0px;
		}
	
	
	&:hover
		{
		border:1px solid $dark_aqua;
		color:$white;
		background-color: $dark_aqua;
		}
	
	}
	
.mini_button_light
	{
	color:$aqua_blue;
	background-color:$background;
	border:1px solid $aqua_blue;
	
		a
		{
		color:$aqua_blue;
		border-bottom:0px;
		}
		
		&:hover
		{
		border:1px solid $dark_aqua;
		color:$white;
		background-color: $dark_aqua;
		}	
	}
	
/*	
.mini_button_special
	{
	color:$light_gray;
	background-color:$background;
	border:0px;	
	box-shadow: none;
	font-family:$icon;
	font-size:em(24);
	
	&:hover
		{
		background-color:$background;
		color:$red;
		}	
	}	

*/

.button_options
		{
		@include font ($light, em(12), $light_gray, 1.4em, none);
		margin:7px 0 0 5px;
		list-style-type:none;
		float:left;
		padding-right:20px;
		
			li
			{
			margin:0 0px 2px 5px;
			text-indent:-5px;
			line-height:1.3em;
					
			&:before {
					content: "\2022";
					display:inline-block;
					margin:0 5px 0 0;					
					color: $red; 
					font-size:em(16);
				}			
			}		
		}
	
	




/* text input */

input, textarea
	{
	@include font ($light, em(14), $silver, 1.5em, none);
	box-sizing:border-box;
	border:1px solid $dark_background;
	@include rounded;
	padding:10px 18px;
	@include transition;
	width:100%;
	margin:0 0 25px 0;
	height:49px;
	@include transition;
	
	
	&:focus
	{
	color:$dark_gray !important;
	outline:none;
	border:1px solid $aqua_blue;
	}
	
	&:active
	{
	color:$dark_gray !important;
	outline:none;
	border:1px solid $aqua_blue;
	}
	
	
	}
	
		
	input[type=checkbox] 
		{
		padding:0 0px;
		border-radius:3px;
		background-color:#fff;
		border:2px solid $silver;
		-webkit-appearance:button;
		transition-property: border-color;
		transition-duration: .07s;
		transition-timing-function: ease-in-out;	
		color:#FFF;
		white-space: nowrap;
		overflow:hidden;
		width:20px !important;
		height:20px !important;
		margin:4px 0 0 0;
		@include box-sizing(border-box);
		}

	input[type=checkbox]:checked 
		{
		background-color:#fff;
		background-position:0px 0px;
		background-image:url(../temp_art/image_sprite.png);
		background-repeat:no-repeat;
		}

	input[type=checkbox]:hover 
		{
		border-color:$light_gray;
		}
				
					
	

	