
.hero_inside_page
	{
	height:auto;
	width:100%;
	background-color:$red;
	background-repeat:repeat-x;
	margin:0;
	position:fixed;
	top:0px;
	z-index:1000;
	border-bottom:1px solid $dark_red;
	
	
		@media screen and (max-width:499px) 
			{
			height:auto;
			}	
	}

	
	.hero_inside_page_content
	{
	width:100%;
	height:30px;
	border:0px solid white;
	margin:0 auto;
	max-width:1000px;
	
		@media screen and (max-width:em(1040)) 
		{
		width:95%;
		margin-left:2.5%;
		margin-right:2.5%;
		}
	
	
		.button, #inside_CTA
		{
		float:right;
		background-color:$dark_red;
		margin:9px 0 8px 0;
		
			&:hover
			{
			background-color:$red_too;
			}
		
			@media screen and (max-width:em(499)) 
			{
			@include button (80px, 30px, 10px, 2px);
			margin:11px 0 10px 0;
			}		

			&:hover
			{
			background-color:$background;
			color:$red;
			}


		}
		

		.link_nav
			{
			width:33px;
			height:33px;
			margin:21px 0px 0 10px;
			display:none;
			font-family:$icon;
			color:$red_too;
			font-size:em(30);
			cursor:pointer;
			@include transition;
			
				&:hover
				{
				color:white;
				}
		
				@media screen and (max-width:em(800)) 
				{
				display:block;
				float:right;
				}
				
				
			@media screen and (max-width:em(499)) 
				{
				width:25px;
				height:25px;
				margin:15px 0px 0 10px;
				font-size:em(20);
				}
			
		
		
			#close_menu_icon
			{
			display:none;
			}		
			}

	}
	
	
		.search_icon
			{
			width:43px;
			height:41px;
			margin:10px 0px 0 10px;
			font-family:$icon;
			color:$red_too;
			font-size:em(20);
			float:right;
			text-align:center;
			padding:5px 0 0 0;
			@include transition;
			cursor:pointer;
			
				&:hover
				{
				color:$white;		
				}
				
			@media screen and (max-width:em(499)) 
				{
				width:25px;
				height:25px;
				margin:5px 0px 0 10px;
				font-size:em(20);
				}

		
			#close_icon
			{
			display:none;
			}


			}
	


	.inside_page_search
		{
		width:100%;
		height:auto;
		border:1px solid $red;
		}


	.search_box_container
	{
	width:100%;
	margin:15px auto 10px;
	height:41px;
	@include rounded;
	background-color:$white;
	max-width:1000px;
	position:relative;
	
		@media screen and (max-width:em(1040)) 
			{
			width:95%;
			margin:10px 2.5% 10px;
			}
			
			
		@media screen and (max-width:em(550)) 
			{
			height:26px
			}	
	
		.small_button
		{
		float:right;
		margin:8px 2% 0 0;
		
		
				@media screen and (max-width:em(550)) 
					{
					margin:0px;
					width:25%;
					border-top-left-radius:0px;
					border-bottom-left-radius:0px;	
					}		
		}
	}


	.search_box
		{
		margin:0px;
		height:41px;
		padding-top:12px;
		float:left;
		width:87%;
		border:1px solid $white;
		
		
			@media screen and (max-width:em(800)) 
			{
			margin:0px 0% 0px;
			width:80%;
			}
		
			@media screen and (max-width:em(550)) 
			{
			width:75%;
			height:26px;
			padding-left:5px;
			}
		
		}
	
	

	
	
	
	.hero_logo
		{
		width:204px;
		height:29px;
		/*background-image:url('../temp_art/muckrock1.png'); */
  		background-image: url('../temp_art/muckrock_white.png');
  		background-image: none, url('../temp_art/muckrock_white.svg');
		background-size:204px;
		background-position:left top;
		background-repeat:no-repeat;
		float:left;
		margin:16px 0 0 0;
		overflow:hidden;
		display:block;
		-webkit-transition: background-image 0.2s ease-in-out;
		-moz-transition: background-image 0.2s ease-in-out;
		-ms-transition: background-image 0.2s ease-in-out;
		-o-transition: background-image 0.2s ease-in-out;
		transition: background-image 0.2s ease-in-out;
		
			@media screen and (max-width:em(499)) 
			{
			width:140px;
			height:20px;
			background-size:140px;
			background-position:left 1px;
			}
		
		&:hover
		{
		background-position: left 107%;
		}
	
	
		}
	

	

	
	.inside_nav
	{
	float:right;
	list-style-type: none;
	@include font ($light, em(14), $white, 1em, none);
	margin:0 0 15px 20px;
	
		@media screen and (max-width:em(800)) 
			{
			width:100%;
			clear:both;
			display:none;
			padding-bottom:20px;
			}

		li
		{
		margin:25px 18px 0 0;
		padding:0px;
		float:left;
		text-align:right;		
		@include transition;
			
			i
			{
			font-size:em(18);
			display:inline-block;
			margin-top:-1px;
			}
	
			a
			{
				&:hover
				{
				color:$red_too;
				}
			}	
			
	
			@media screen and (max-width:em(800)) 
			{
			float:none;
			font-size:em(22);
			text-align:center;
			width:100%;
			
			i
			{
			font-size:em(24);
			}
		
			
			&:nth-child(4)
			{
			float:left;
			width:50%;
			text-align:right;
			@include box-sizing(border-box);
			margin:30px 0 0;
			padding:0 10px 0 0;
			}
			
			&:nth-child(5)
			{
			float:right;
			width:50%;
				@include box-sizing(border-box);
				margin:30px 0 0;
				text-align:left;
				padding:0 0 0 10px;
			}
	
			}
	
	
		}

	
	}

	
	