@import "bourbon";
@import "fonts";
@import "colors";
@import "shortcuts";
@import "mixins";
@import "variables";
@import "text_styles";
@import "muckrock";
@import "right_rail_monitor";



.hero_inside_page
	{
	height:60px;
	width:100%;
	background-color:$red;
	background-repeat:repeat-x;
	margin:0 0 40px 0;
	position:fixed;
	top:0px;
	z-index:1000;
	border-bottom:1px solid $dark_red;
	height:60px;
	
	
		@media screen and (max-width:499px) 
			{
			height:50px;
			}
	
	}
	


	
	.hero_inside_page_content
	{
	width:100%;
	height:30px;
	border:0px solid white;
	margin:0 auto;
	max-width:1000px;
	
		@media screen and (max-width:em(1040)) 
		{
		width:95%;
		margin-left:2.5%;
		margin-right:2.5%;
		}
	
	
		.button
		{
		float:right;
		background-color:$dark_red;
		margin:10px 0 0 0;
		
			@media screen and (max-width:em(499)) 
			{
			@include button (100px, 30px, 10px, 2px);
			margin:11px 0 0 0;
			}
		
		
		
		}
	
	
		.link_nav
			{
			width:33px;
			height:33px;
			margin:20px 0px 0 30px;
			display:none;
			font-family:$icon;
			color:$white;
			font-size:em(38);
		
				@media screen and (max-width:em(750)) 
				{
				display:block;
				float:right;
				}
				
				
			@media screen and (max-width:em(499)) 
				{
				width:25px;
				height:25px;
				margin:16px 0px 0 20px;
				font-size:em(30);
				}
			
		
		
			}
	
	
	
	}
	
	
	.hero_logo
		{
		width:204px;
		height:60px;
		/*background-image:url('../temp_art/muckrock1.png'); */
  		background-image: url('../temp_art/muckrock_white.png'), none;
  		background-image: url('../temp_art/muckrock_white.svg'), none;
		background-size:204px;
		background-position:left 9px;
		background-repeat:no-repeat;
		float:left;
		margin:7px 0 0 0;
		
			@media screen and (max-width:em(499)) 
			{
			width:140px;
			height:40px;
			background-size:140px;
			}
	
		}
	
	/*
		.link_button
		{
		border:1px solid white;
		padding:10px 10px 8px;
		margin:13px 20px 0 0;
		@include rounded;
		background-color:$dark_red;
			
			&:hover
			{
			@include transition;
			background-color:$red_too;
			cursor:pointer;
			}
			
			@media screen and (max-width:em(725)) 
			{
			display:block;
			}
			
			@media screen and (max-width:em(400)) 
			{
			display:none;
			}
			
		
		}
	
	*/
	

	
	.link_list
	{
	float:right;
	list-style-type: none;
	@include font ($light, em(14), $red_too, 1em, none);
	margin:0 0 0 20px;
	
		@media screen and (max-width:em(750)) 
			{
			float:right;
			}

		li
		{
		margin:27px 20px 0 0;
		padding:0px;
		float:left;
		text-align:right;
		
			&:first-child
			{
			color:white;
		
			}
			
			i
			{
			font-size:em(18);
			display:inline-block;
			margin-top:-1px;
			}
	
	
			@media screen and (max-width:em(750)) 
			{
			display:none;
			}
	
	
		}

	
	}
	
	
	
	
	.content_container
	{
	margin-top:100px;
	
	}
	
	