@import "bourbon";
@import "fonts";
@import "colors";
@import "shortcuts";
@import "mixins";
@import "variables";
@import "text_styles";
@import "muckrock";
@import "right_rail_monitor";



.hero
	{
	height:75px;
	background-image:none;
	background-color:$red;
	
		@media screen and (max-width:em(700)) 
		{
		height:150px;
		}
		
	}
	
	.branding
		{
		@include spanner (12, 1200, 0, 7);
		@include marginizer_left (12, 1200, 0, 1);
		margin-top:10px;
		
		/* test width */
			@media screen and (max-width:em(700)) 
			{
			margin:20px 0 0 10px;
			}

			.hero_logo
			{
			width:230px;
			height:32px;
			background-image:url('../temp_art/muckrock1.png');
			background-size:cover;
			
				@media screen and (max-width:em(700)) 
				{
				width:250px;
				margin:0 0 5px 0;
				}			
			}
	
			h1
			{
			font-size:em(18);
			width:100% !important;
			text-shadow:none;
			color:$white;

						
				@media screen and (max-width:em(600)) 
				{
				font-size:em(16);
				}			
			}	
		}
	
	
	.social
		{
		@include spanner (12, 1200, 0, 4);
		float:right;
	
	
		@media screen and (max-width:em(700)) 
		{
		width:100%;
		}
	
			.circle_icon
			{
			background-color:$white;
			color:$red;
			text-shadow:none;
			}				
		}
		

	
	