@import "bourbon";
@import "fonts";
@import "colors";
@import "shortcuts";
@import "mixins";
@import "variables";
@import "text_styles";
@import "muckrock";
@import "right_rail_monitor";



.hero
	{
	height:75px;
	background-image:none;
	background-color:$red;
	
		@media screen and (max-width:em(700)) 
		{
		height:150px;
		}
		
	}
	
	.branding
		{
		@include spanner (12, 1200, 0, 7);
		@include marginizer_left (12, 1200, 0, 1);
		margin-top:10px;
		
		/* test width */
			@media screen and (max-width:em(700)) 
			{
			margin:20px 0 0 10px;
			}

			.hero_logo
			{
			width:230px;
			height:32px;
			background-image:url('../temp_art/muckrock1.png');
			background-size:cover;
			
				@media screen and (max-width:em(700)) 
				{
				width:250px;
				margin:0 0 5px 0;
				}			
			}
	
			h1
			{
			font-size:em(18);
			width:100% !important;
			text-shadow:none;
			color:$white;

						
				@media screen and (max-width:em(600)) 
				{
				font-size:em(16);
				}			
			}	
		}
	
	
	.social
		{
		@include spanner (12, 1200, 0, 4);
		float:right;
	
	
		@media screen and (max-width:em(700)) 
		{
		width:100%;
		}
	
			.circle_icon
			{
			background-color:$white;
			color:$red;
			text-shadow:none;
			}				
		}
		
		
	.CCV_image	
		{
		width:80%;
		margin:0 10%;
		background-image: url('../temp_art/cvv3.jpg');
		height:auto;
		padding-bottom:50%;
		background-size: cover;
		position:absolute;
		background-repeat: no-repeat;
		display:none; 
		border-radius:15px;
		box-shadow:3px 3px 5px 0px rgba(0,0,0,0.15);
		border-bottom:1px solid $dark_gray;
		border-right:1px solid $dark_gray;
		border-top:1px solid $white;
		border-left:1px solid $white;
		
			@media screen and (max-width:em(500)) 
			{
			width:92%;
			margin:20px auto 0;
			float:left;
			padding-bottom:63%;
			}
		
	
		.CCV_image_close
			{
			font-family:$icon;
			font-size:30px;
			position:absolute;
			right:0px;
			top:0px;
			padding:0 10px 0 0;
			color:$silver;
			cursor:pointer;
			@include transition;
			
			&:hover
			{
			color:$white;
			}
			
			
			}
	
		}
		
		
	.regi_container
		{
		position:relative;
		width:475px;
		@include center (0,0);	
		@include box-sizing(border-box);
		position:relative;
		
			@media screen and (max-width:em(495)) 
			{
			width:100%;
			padding:0 10px;
			}
		
		
		.button
			{
			float:left;
			margin-right:15px;
			}
			
		h4
			{
			clear:left;
			}
		
		}
	
	
	.account_name
		{
		margin:0 0 25px 0;
		}
	
	.account_credit_card
		{
		width:68%;
		margin:0 5% 25px 0;
		float:left;
		
			@media screen and (max-width:em(400)) 
			{
			width:100%;
			}
		
		}
		
				
	.CCV_explainer	
		{
		@include font ($icon, 20px, $light_gray, 1em, none);
		font-family:$icon;
		float:left;
		width:7%;
		text-align:right;
		padding-top:10px;
		cursor:pointer;
			@include transition;
		&:hover
			{
			color:$red;
			}
		
		}
		
		.account_CCV
		{
		width:20%;
		margin:0 0 25px 0;
		float:left;
		}	
	
	.expiration_month
		{
		width:80px;
		clear:left;
		}
		
	.expiration_year
		{
		width:100px;
		}




	.icon_list_container
		{
		@include spanner (4, 639.797px, 0px, 4);
		margin:0 0 25px 0;
		
				@media screen and (max-width:em(500)) 
				{
				@include spanner (4, 639.797px, 0px, 4);
				}		

	.icon_list
		{
		@include font ($light, em(60), $light_gray, 1.2em, none);
		font-family:$icon;
		list-style-type:none;
		clear:left;
		text-shadow:1px 1px 1px $white;
		margin:0 0 15px 0;
		width:100%;

			li
			{
			float:left;
			margin:0 20px 0 0;
			@include transition;	
			cursor:pointer;

			
			&:hover
			{
			color:$red;
			}
			
			}
			

			
			.used_request
			{
			color:$silver;
			cursor:auto;

			
				&:hover
				{
				color:$silver;
				}
			
			}
		
		}
		}
			
			
.user_page_options_inside
		{
		@include spanner (2, 639.797px, 0px, 2);
		padding:0 0 0 0;
		margin: 0 0 40px 0;	
		
			@media screen and (max-width:em(550)) 
			{
			width:100%;
			clear:left;
			margin:0 0 30px 0;
			}
		
		}		
		
		
.user_page_options_list
		{
		@include font ($light, em(16), $dark_gray, 1.4em, none);
		margin:0 0 00px 10px;
		list-style-type:none;
		float:left;
		padding-right:20px;
		
			li
			{
			text-indent:-10px;
			margin:0 0px 15px 10px;
			line-height:1.3em;
			
			
			&:before {
					content: "\2022";
					display:inline-block;
					margin:0 10px 0 0;
					color: $red; 
					font-size:em(16);
				}
			
			}
		
		}
	
		.user_page_options_list_small
		{
		@include font ($light, em(12), $light_gray, 1.4em, none);
		margin:7px 0 0 5px;
		width:120px;
		padding:0px;
		
			li
			{
			margin:0 0px 2px 5px;
			text-indent:-5px;
			
			&:before {
					margin:0 5px 0 0;
				}
			

			}
		
		}		
		
		
		
	