
@import "bourbon";
@import "shortcuts";
@import "mixins";
@import "fonts";
@import "colors";
@import "variables";
@import "text_styles";
@import "common_styles";
@import "inside_page";
@import "toolbox";


.hero
	{
	height:75px;
	background-image:none;
	background-color:$red;
	
		@media screen and (max-width:em(700)) 
		{
		height:150px;
		}
		
	}
	
	.branding
		{
		@include spanner (12, 1200, 0, 7);
		@include marginizer_left (12, 1200, 0, 1);
		margin-top:10px;
		
		/* test width */
			@media screen and (max-width:em(700)) 
			{
			margin:20px 0 0 10px;
			}

			.hero_logo
			{
			width:230px;
			height:32px;
			background-image:url('../temp_art/muckrock1.png');
			background-size:cover;
			
				@media screen and (max-width:em(700)) 
				{
				width:250px;
				margin:0 0 5px 0;
				}			
			}
	
			h1
			{
			font-size:em(18);
			width:100% !important;
			text-shadow:none;
			color:$white;

						
				@media screen and (max-width:em(600)) 
				{
				font-size:em(16);
				}			
			}	
		}
	
	
	.social
		{
		@include spanner (12, 1200, 0, 4);
		float:right;
	
	
		@media screen and (max-width:em(700)) 
		{
		width:100%;
		}
	
			.circle_icon
			{
			background-color:$white;
			color:$red;
			text-shadow:none;
			}				
		}
		
		

		
		
	.regi_container
		{
		position:relative;
		max-width:475px;
		@include center (em(100),0);	
		width:100%;		
		
		.double_rule
		{
		margin:em(40) 0 em(40);
		}
		
		.regi_spacer
		{
		margin-top:em(30);	
		}
		
			@media screen and (max-width:em(495)) 
			{
			width:100%;
			padding:0 10px;
			}
		
		.button
			{
			float:left;
			margin-right:15px;
			}
		
		}
	
	
		.add_avatar
		{
		width:100px;
		height:100px;
		@include rounded;
		box-shadow: inset 3px 3px 5px rgba(207, 207, 207, .4);
		background-color:$white;
		float:left;
		margin:0 20px 0 0;	
		border:1px solid $silver;
		}
	

		.user_info_state
		{
		@include spanner (4, 475, 10, 2);	
		margin-right:20px;
		}
		
		
		.user_info_city
		{
		@include spanner (4, 475, 0, 2.9);
		float:left;
		margin-bottom:0px;
		margin-right:2%;
		}
		
		.user_info_phone
		{
		@include spanner (4, 475, 0, 2.9);
		float:none;
		}
		
		.user_info_zip
		{
		@include spanner (4, 475, 0, 1);	
		margin:0px 0 25px 0;
		}
		
		
		.selector
		{
		float:left;
		@include spanner (4, 475, 10, 2);	
		margin-right:15px;
		clear:left;

		}
		
		.checkbox_container
		{
		@include spanner (4, 475, 10, 2);	
		height:40px;
		margin:0 0 25px 0;
		padding:10px 0 0 0;
		
		
			p
			{
			float:left;
			@include font ($light, em(12), $light_gray, 2em, none);
			}
		
			.checkbox
			{
			float:left;
			margin:0 5px 0 0;
			}
		
		}
		
		
	