

@import "bourbon";
@import "fonts";
@import "colors";
@import "shortcuts";
@import "mixins";
@import "variables";
@import "text_styles";
@import "menu_test.scss";
@import "muckrock";
@import "inside_page";





	
	.headline_container
	{
	@include spanner (10, 1000, 0, 10);	
	margin:0px 0px 10px 0;
	
		h1
		{
		font-weight:$bold;
		
			@media screen and (max-width:600px) 
			{
			font-size:em(32);
			}
		
		}
		
	
		h3
		{
		color:$light_gray;
		font-weight:$light;
		margin-top:0px;
		
			@media screen and (max-width:600px) 
			{
			font-size:em(20);
			}
		
	
		}
	
			.top_tools
			{
			@include spanner (10, 1000, 0, 10);				
			margin:0px 0 20px 0;
			
				.top_tools_document
				{
				@include spanner (10, 1000, 0, 5);	
				margin: 0 0 0 30px;
				border-left:1px solid $silver;
				padding: 0 0 0 15px;
				
						@media screen and (max-width:500px)
						{
						margin:0px;
						}
				
				
					p
					{
					margin:12px 10px 0 0px;
					@include font ($light, em(13), $light_gray, 1.3em, none);
					float:left;
					}
				
					.document_icon
					{
					width:40px;
					height:40px;
					float:left;
					overflow:hidden;
					position:relative;
					
						img
						{
						width:100%;		
						}
						
						.icon
						{
						position:absolute;
						top:-2px;
						width:40px;
						font-family:$icon;
						font-size:18px;
						text-align:center;
						}
					
					}
				
				}
									
				.button
				{
				float:left;
				}
			}
					
		}	
	
	
	
	
	.main_news_container
	{

	.story_container
	{
	max-width:$max_width;
	width:100%;
	margin:00px auto;
	clear:both;
	
			.lead_art
			{
			@include spanner (6, 670, 0, 5);	
			margin:0px 0 20px 0;
			width:100%;
			}
	
			.mug
			{
			width:45px;
			float:right;
			margin:0px 15px 5px 0;
							
				@media screen and (max-width:700px) 
				{
				float:left;
				width:30px;
				margin:0px 10px 10px 0;
				}
			
			}
	
			.story_body
			{
			@include marginizer_left (6, 670, 0, 1);
			clear:left;
			float:left;
			
				@media screen and (max-width:700px) 
					{
					margin-left:0px;
					}	
			
				p
				{
				@include font ($light, em(16), $body, 1.7em, none);

					&:first-child
					{
					font-size:em(19);
					line-height:1.8em;
					
						@media screen and (max-width:500px) 
						{
						font-size:em(16);
						line-height:1.7em;
						}
					
					
					}
					
				}
				
				
				
			}

			.name
			{
			@include font ($light, 11, $light_gray, 1.2em, none);
			text-align:right;
			margin:0 15px 0 0;
			clear:right;
						
				@media screen and (max-width:700px) 
				{
				clear:none;
				text-align:left;
				margin:12px 0 5px 0;
				}	
			}
				
			.double_rule
			{
			@include spanner (6, 670, 0, 5);
			float:right;
			
				@media screen and (max-width:700px) 
				{
				width:100%;
				}		
			}
			
	
	
			
			
			h4
			{
			font-size:em(15);
			float:left;
			@include spanner (6, 670, 0, 3.75);
			margin-bottom:10px;
			padding-right:5px;
			
				@media screen and (max-width:700px) 
				{
				@include spanner (6, 670, 0, 5);

				}				
			
			
			}

		
			h6, h3, .description
			{
			@include marginizer_left (6, 670, 0, 1);	
			
				@media screen and (max-width:700px) 
				{
				margin-left:0px;
				}
			
			}
			

			.one
			{
			@include spanner (6, 670, 0, 1);
				
				@media screen and (max-width:700px) 
				{
				@include spanner (6, 670, 0, 6);
				}	
			}
	
			.two
			{
			@include spanner (6, 670, 0, 1.25);
				
				@media screen and (max-width:700px) 
				{
				@include spanner (6, 670, 0, 2);
				}
	
			
			}
			
			

	
			.three
			{
			@include spanner (6, 670, 0, 3);
			border:1px solid blue;
			
				@media screen and (max-width:700px) 
				{
				@include spanner (5, 650, 0, 3);
				}
			
				@media screen and (max-width:500px) 
				{
				@include spanner (5, 500, 0, 5);	
				}
			
			}	
	
	
			.four
			{
			@include spanner (6, 670, 0, 4);	
			}		
	
	
			.five
			{
			@include spanner (6, 670, 0, 6);
			margin: 0 0 25px 0;
			position:relative;
			
				
				@media screen and (max-width:700px) 
				{
				@include spanner (6, 670, 0, 6);
				margin: 0 0 25px 0;
				}		
			}	
	
		}
	
	}



	
	

	