

@import "bourbon";
@import "fonts";
@import "colors";
@import "shortcuts";
@import "mixins";
@import "variables";
@import "text_styles";
@import "menu_test.scss";
@import "muckrock";
@import "inside_page";
@import "table";




	
	.top_info_container
	{
	@include spanner (10, 1000, 0, 10);	
	margin:0px 0px 10px 0;
	
	
		h1
		{
		font-weight:$bold;
		
			@media screen and (max-width:600px) 
			{
			font-size:em(32);
			}
		
		}
		
	
		h3
		{
		color:$light_gray;
		font-weight:$light;
		margin-top:0px;
		
			@media screen and (max-width:600px) 
			{
			font-size:em(20);
			}
		
	
		}				
		}	
	

	.main_news_container
	{

		.story_container
		{
		max-width:$max_width;
		width:100%;
		margin:00px auto;
		clear:both;
		}
		
		
		.request_container
		{
		width:100%;
		height:auto;
		margin:0 0 40px 0;
		
			h3
			{
			color:$red;
			margin:0 0 20px 0;
			
				span
				{
				border:0px;
				}			
			}
			
			
		.explainer_text
		{
		margin:0 0 10px 0;
		clear:left;
		@include font ($light, em(18), $dark_gray, 2em, none);
		
			&:before
			{
			content:'\f054 ';
			color:$red;	
			font-family:icon;
			display:inline-block;
			width:3%;
			}
		
		}
			
		.request_title
		{
		width:97%;
		margin:0 0 50px 3%;
		color:$dark_gray !important;
		
			@media screen and (max-width:700px) 
			{
			margin-left:0px;
			width:100%;
			}
		
		}	
		
		.request_detail
		{
		width:97%;
		height:75px;
		margin:0 0 0 3%;
		
		@media screen and (max-width:700px) 
			{
			margin-left:0px;
			width:100%;
			}
	
		}
		
		
		.request_detail_review
		{
		width:97%;
		height:400px;
		margin:0 0 20px 3%;
		
		@media screen and (max-width:700px) 
			{
			margin-left:0px;
			width:100%;
			}
	
		}
		
		
		.request_checkbox
		{
		float:left;
		margin: 7px 10px 0px 3%;
		}
		
		.request_checkbox_label
		{
		margin:	10px 0 30px 0;
		}
		
		
		.agency_picker
		{
		width:50%;
		margin:0 0 50px 3%;

			@media screen and (max-width:700px) 
			{
			margin-left:0px;
			}
		
			@media screen and (max-width:500px) 
			{
			width:100%;
			margin-left:0px;
			}
		
		}

		.right_link
		{
		color:$light_gray;
		margin:5px 0 50px 20px;
		}
		
		.button
		{
		float:left;
		margin:0 30px 0 0;	
		}

		.preview_button
		{
		margin-left:3%;
		
			@media screen and (max-width:700px) 
			{
			margin-left:0px;
			}
		
		}

		.buttons_right
		{
		float:right;
		
			@media screen and (max-width:450px) 
			{
			float:left;
			margin:10px 0 0 0;
			}
		
			.gray_button
			{
			float:right;
			margin: 0 0 0 10px;
			
				@media screen and (max-width:450px) 
				{
					&:nth-child(2)
					{
					margin-left:0px;
					}
				
				}
			
			}
			
		}



		.request_government_picker
		{
		width:97%;	
		@include box-sizing(border-box);
		padding:0px;
		list-style-type:none;
		margin:0 0 50px 3%;
		max-width:652.797px;
		
			@media screen and (max-width:750px) 
			{
			width:100%;
			margin-left:0px;
			}
		
		
			li
			{
			@include spanner (4, 652.797, 10, 1);	
			
			padding:13px 0;
			text-align:center;
			background-color:$light_gray;
			@include font ($light, em(14), $white, 1em, none);
			border:0px;
			@include shadow;

			
				@media screen and (max-width:600px) 
				{
				@include spanner (2, 652.797, 10, 1);	
				
				
					&:first-child
					{
					border-top-left-radius:3px;
					border-bottom-left-radius:0px  !important;
					margin-bottom:6px;
					}
				
					&:nth-child(2)
					{
					border-top-right-radius:3px;
					margin-bottom:8px;
					margin-right:0px;
					}
				
					
					&:nth-child(3)
					{
					border-bottom-left-radius:3px;
					}
					
					
					&:nth-child(4)
					{
					border-bottom-right-radius:3px;
					border-top-right-radius:0px  !important;

					}					
				
					
				
				}
			
			
					&:first-child
					{
					border-top-left-radius:3px;
					border-bottom-left-radius:3px;					
					}
			
			
					&:nth-child(4)
					{
					margin-right:0px;
					border-top-right-radius:3px;
					border-bottom-right-radius:3px;
					border:0px
					}


					&:hover
					{
					background-color:$red;
					color:white;
					@include transition;
					}			
			}		
		}		
		}

	
		}
		

	
		
		
	



	
	

	