
@import "bourbon";
@import "shortcuts";
@import "mixins";
@import "fonts";
@import "colors";
@import "variables";
@import "text_styles";
@import "common_styles";
@import "inside_page";
@import "toolbox";
@import "table";
	


	.top_info_container
	{

	
		.choose_method
		{
		@include spanner (10, 1000, 4, 7);
		min-width:em(674.797);
		float:none;
		margin:0 auto 40px;
		@include box-sizing(border-box);
		
			@media screen and (max-width:em(700)) 
			{
			min-width:0px;
			width:95%;
			margin:0 2.5% 40px;
			}
		
	
		
		}
		
		
		.method_inside
		{
		@include spanner (2, 674.797, 10, 1);	
		@include box-sizing(border-box);
		

		
			&:first-child
			{
			border-right:1px solid $silver;
			padding:0 20px 0 0;		
			}
			
	
			&:first-child + div
			{
			padding:0 0px 0 20px;
			margin-right:0px;
			}
	
			&:nth-child(2)
			{
			padding:0 0px 0 20px;
			margin-right:0px;
			}
		
			
			@media screen and (max-width:em(400)) 
			{
				width:100%;
				margin-bottom:20px;
				clear:both;


				&:nth-child(1)
				{
				border-bottom:1px solid $silver;
				border-right:0px solid $silver;
				padding:0 0px 20px 0;
				}
			
				&:nth-child(2)
				{
				padding:0 0px 0 0px;
				margin-right:0px;
				}



			}
	
		
		
			.button
			{
			margin:40px 0 0;
			
				@media screen and (max-width:em(400)) 
					{
					width:100%;
					}

			
			
			
			}
		
		
		}
	
				
	
		
		.big_number
		{
		@include font ($bold, em(36), $white, 1em, none);
		font-family:$icon;
		background-color:$silver;
		@include circle (100px);
		text-align:center;
		padding:35px 0 0 2px;
		
		}
		
		
		
		}	
	

	.main_news_container
	{
		@include spanner (10, 1000, 4, 7);
		@include box-sizing(border-box);
		float:none;
		@include center (0px,0px);	
		clear:both;
		padding:0px;
		background-image: none;
	
		.story_container
		{
		max-width:$max_width;
		width:100%;
		margin:00px auto;
		clear:both;
		}
		
		
		.request_container
		{
		width:100%;
		height:auto;
		margin:0 0 40px 0;
		display:block !important;
		
				span
				{
				border:0px;
				}			
			}
			
			
		.explainer_text
		{
		margin:0 0 10px 0;
		clear:left;
		@include font ($light, em(18), $dark_gray, 2em, none);
		}
			
		
		.request_detail
		{
		height:75px;
		margin:0 0 0 0%;
		
		@media screen and (max-width:700px) 
			{
			margin-left:0px;
			width:100%;
			}
	
		}
		
		
		.request_detail_review
		{
		height:400px;
		margin:0 0 20px 0;
		
		@media screen and (max-width:700px) 
			{
			margin-left:0px;
			width:100%;
			}
	
		}
		
		
		.request_checkbox
		{
		float:left;
		margin: 7px 10px 0px 3%;
		}
		
		.request_checkbox_label
		{
		margin:	10px 0 30px 0;
		}
		
		
		.agency_picker
		{
		width:100%;
		margin:0 0 50px 0;

			@media screen and (max-width:700px) 
			{
			margin-left:0px;
			}
		
			@media screen and (max-width:500px) 
			{
			width:100%;
			margin-left:0px;
			}
		
		}

		.right_link
		{
		color:$light_gray;
		margin:5px 0 50px 20px;
		}
		
		.button
		{
		float:left;
		margin:0 30px 0 0;	
		}

		.preview_button
		{
		margin-left:3%;
		
			@media screen and (max-width:700px) 
			{
			margin-left:0px;
			}
		
		}

		.buttons_right
		{
		float:right;
		
			@media screen and (max-width:450px) 
			{
			float:left;
			margin:10px 0 0 0;
			}
		
			.gray_button
			{
			float:right;
			margin: 0 0 0 10px;
			
				@media screen and (max-width:450px) 
				{
					&:nth-child(2)
					{
					margin-left:0px;
					}
				
				}
			
			}
			
		}



		.request_government_picker
		{
		width:100%;	
		@include box-sizing(border-box);
		padding:0px;
		list-style-type:none;
		margin:0 0 50px 0;
		
			@media screen and (max-width:750px) 
			{
			width:100%;
			margin-left:0px;
			}
		
		
			li
			{
			@include spanner (4, 652.797, 20, 1);	


					&:nth-child(4)
					{
					margin-right:0px;
					}
				


			
				@media screen and (max-width:600px) 
				{
				@include spanner (2, 652.797, 10, 1);	
				
				
					&:first-child
					{
					}
				
					&:nth-child(2)
					{
					margin-bottom:8px;
					margin-right:0px;
					}
				
				
					
				
				}
			
			
			}		
		}		
		}


	
		
		
	



	
	

	