/* toolbox */

.toolbox
	{
	width:100%;
	@include spanner (10, 1000, 0, 10);	
	@include center (0,0);	
	position:fixed;
	bottom:0px;
	background-color:rgba(169,169,169,0.90);
	padding:0px 10px;
	height:60px;
	color:#ebebeb;
	font-family:$open;
	border-bottom:1px solid $dark_gray;
	
		@media screen and (max-width:em(500)) 
		{
		height:48px;
		}
	
	
	}
	
	
	.toolbox_inside
	{
	@include spanner (10, 1000, 0, 10);
	@include center (0,0);
	max-width:1000px;
	position:relative;
	}
		
	.toolbox_login
	{
	width:150px;
	float:left;	
	margin:8px 10px 0 0;	
		
			@media screen and (max-width:em(800)) 
			{
			width:35px;
			margin:5px 10px 0 0;			
			}
	
	
		.login_avatar
		{
		width:45px;
		height:auto;
		float:left;
		
			@media screen and (max-width:em(500)) 
			{
			width:33px;
			height:33px;
			}

			
		img
		{
		width:100%;		
		}
	
	}	
	
		.logged_in_name
		{
		color:#ebebeb;
		float:left;
		font-size:em(12);
		line-height:1.2em;
		margin:5px 0 0 0;
		
			@media screen and (max-width:500px) 
			{
			display:none;
			}		
		
		}
	
	
	}
	
	
	.toolbox_alerts
	{
	background-image:url('../temp_art/starburst.svg');
	background-repeat:no-repeat;
	background-size:32px;
	background-position:center center;
	
	
		@media screen and (max-width:em(500)) 
		{
		width:50px;
		height:33px;
		margin:5px 8px 0 0;
		float:left;
		}

	.alert_count
	{
	font-size:em(13);
	color:$white;
	text-align:center;
	font-family:$sans;
	font-weight:700;
	margin-top:6px;
	border-right:1px solid $light_gray;
	border-left:1px solid $light_gray;

	}

	
	}
	
	
	.toolbox_menu
	{
	font-size:em(11);
	color:white;
	font-family:$sans;
	font-weight:400;
	width:70px;
	float:left;
	margin:12px 0 0 0;
	text-align:center;
	}
	
	
	
	.toolbox_CTA
	{
	width:100px;
	float:right;
	margin:9px 10px 0 0;
	
	
		.small_button
		{
		background-color:rgba(255,255,255,.3);
		border:0px;
		width:100%;
		font-size:11px;
		font-weight:400;
		padding-top:8px;
		}
		
	
	
	}
	


/*
		.toolbox_hide
		{
		@include spanner (10, 1000, 0, .5);	
		@include box-sizing(border-box);
		float:right;
		text-align:center;
		padding-top:10px;
		font-size:em(20);
		color:$light_gray;
		text-shadow:.09em .09em .2em  $background;
		cursor:pointer;
		
			@media screen and (max-width:600px) 
				{
				@include spanner (10, 1000, 0, 1);
				float:right;
				padding:5px 0 0 0;
				}	
		
			.toolbox_icon
			{
			display:none;
			font-size:em(18);
			}
		
			.toolbox_close_icon
			{
			display:block;	
			}
		
		
		}

		.toolbox_intro
		{
		@include spanner (10, 1000, 0, 2.5);
		padding:0px 0 0px 0;
		
				@media screen and (max-width:600px) 
				{
				@include spanner (10, 1000, 0, 9);	
				}		
		
		
			.counter
			{
			width:24px;
			height:24px;
			float:left;
			background-image:url('../temp_art/sunburst_bg.png');
			background-repeat: no-repeat;
			background-size: 24px;
			background-position: left top;
			text-align:center;
			@include box-sizing(border-box);
			@include font ($light, em(12), $white, 1.3em, none);
			display:inline-block;
			padding:6px 0 0 0px;
			margin:-4px 3px 0 0;
			}
		
		
			h4
			{
			@include font ($bold, em(14), $dark_gray, 1.2em, none);
			margin:3px 5px 0 0;
			padding:16px 0 0;
				&:after
				{
				content:'\f0a9';
				font-family:$icon;
				margin:0 0 0 3px;
				color:$light_gray;
				}
			
			
				@media screen and (max-width:600px) 
				{
				padding:5px 0 0;
				}
			
			
			}
		
		
		}
		
		

		
		.toolbox_menu
		{
		list-style-type:none;
		padding:0px;
		margin:0px;
		border-left:1px solid $white;
		border-right:1px solid #d2d2d2;
		@include spanner (10, 1000, 0, 7);	
		
				@media screen and (max-width:600px) 
				{
				@include spanner (10, 1000, 0, 10);
				border:0px;
				}	
			
			li
			{
			@include spanner (5, 598, 0, 1);	
			text-align:center;
			padding:5px 10px 6px;
			@include font ($light, em(12), $red, 1em, none);
			border-left:1px solid #d2d2d2;
			border-right:1px solid $white;
			@include box-sizing(border-box);
			@include transition;
			
					&:first-child
					{
						@media screen and (max-width:500px) 
						{	
						border-left:0px;
						}

					}
					
					&:nth-child(5)
					{
						@media screen and (max-width:500px) 
						{	
						border-right:0px;
						}
					}
					
				@media screen and (max-width:500px) 
					{
					font-size:em(9);
					margin:5px 0;
					padding:3px 3px 3px;
					min-height:38px;
			
					}
				
				&:hover
				{
				color:$red;
				background-color:rgba(255,255,255,0.3);
				border-left:1px solid transparent;
				
					.icon
					{
					color:$red;
					text-shadow:none;
					}
				}
				
				.icon
				{
				font-size:em(26);
				color:$light_gray;
				line-height:1em;
				margin:2px 0px 2px 0;
				text-shadow:.09em .09em .2em  $background;
				@include transition;			
				}
				
					
			}
		
		}
	
	
	}
	

.toolbox_minimized
	{
	height:0px;

		.toolbox_minimized_tab
		{
		height:45px;
		width:45px;
		position:absolute;
		bottom:0px;
		right:0px;
		@include marginizer_left (10, 1000, 0, 7.5);
		background-color:$silver;
		border-top:1px solid $white;
		border-left:1px solid $white;
		border-right:1px solid $silver;
		border-bottom:0px;
		border-top-left-radius:4px;
		border-top-right-radius:4px;
		text-shadow:.09em .09em .2em  $white;
		display:block !important;

		
			.toolbox_icon
			{
			display:block;
			font-size:em(16);
			color:$red;
			}
		
			.toolbox_close_icon
			{
			display:none;	
			}
		
		
		}	
	
	}
	
	*/
	