

@import "bourbon";
@import "fonts";
@import "colors";
@import "shortcuts";
@import "mixins";
@import "variables";
@import "text_styles";
@import "menu_test.scss";
@import "muckrock";
@import "inside_page";
@import "table";



/* delete this style they hide the pagination on the document list you hid them just to get them out of the way  */

.dataTables_info, .dataTables_paginate
	{
	display:none;
	}


	
	.top_info_container
	{
	@include spanner (10, 1000, 0, 10);	
	margin:0px 0px 10px 0;
	
	
		h1
		{
		font-weight:$bold;
		
			@media screen and (max-width:600px) 
			{
			font-size:em(32);
			}
		
		}
		
	
		h3
		{
		color:$light_gray;
		font-weight:$light;
		margin-top:0px;
		
			@media screen and (max-width:600px) 
			{
			font-size:em(20);
			}
	
		}
		
	.main_avatar
	{
	float:left;
	width:90px;
	margin:5px 20px 20px 0;
	
	}
		
		
		}	
	

	.main_news_container
	{

		.story_container
		{
		max-width:$max_width;
		width:100%;
		margin:00px auto;
		clear:both;
		}
		
	}	
		
		
	.contributions_stream
	{
	@include spanner (1, 639.797px, 0px, 1);
	margin:20px 0 40px 0px;	
	
		.contributions_inside
		{
		@include spanner (1, 639.797px, 0px, 1);
		padding:0 0 0 0;
		margin: 0 0 20px 0;	
		
			@media screen and (max-width:em(550)) 
			{
			width:100%;
			clear:left;
			margin:0 0 30px 0;
			}
				
			&:nth-child(2)
			{
			margin-right:0px;
			}		
		}
		}
	

		.user_page_options_list
		{
		@include font ($light, em(14), $dark_gray, 1.2em, none);
		@include spanner (1, 639.797px, 0px, 1);
		margin:10px 0 00px 0px;
		list-style-type:none;
		float:left;
		padding-right:20px;
		
	
		.list_avatar
		{
		float:left;
		width:30px;
		margin:0px 7px 0px 0px;
		clear:left;
		}
		
		
			li
			{
			margin:0 0px 7px 37px;
			line-height:1.5em;
			min-height:28px;
			
				@media screen and (max-width:em(600)) 
				{
				margin-bottom:15px;
				}

			
			/*
			&:before {
					content: "\2022";
					display:inline-block;
					margin:0 10px 0 0;
					color: $red; 
					font-size:em(16);
				}
			*/
			
			}
		
		}
	
		.user_page_options_list_small
		{
		@include font ($light, em(12), $light_gray, 1.4em, none);
		margin:7px 0 0 5px;
		width:120px;
		padding:0px;
		
			li
			{
			margin:0 0px 2px 5px;
			text-indent:-5px;
			
			&:before {
					margin:0 5px 0 0;
				}
			

			}
		
		}
	
	
	
	
	.chart
	{
	width:100%;
	height:auto;
	
	
		.chart_week
		{
		@include spanner (26, 639.797px, 0px, 1);
		list-style-type:none;
		padding:0px;
		
				@media screen and (max-width:em(450)) 
				{
				width:70%;
				float:left;
				margin-left:0%;
				}
		
				&:nth-child(27)
				{
				margin-right:0px;			
				}
		
	
			li
			{
			padding-bottom:55%;
			background-color:$silver;
			margin:0px 0 0 0;
			border:1px solid $background;
			min-height:17px;
			
				@media screen and (max-width:em(450)) 
				{
				@include spanner (7, 639.797px, 0px, 1);
				height:15px;
				padding:0px;
				}		
			}
	
			.sorta
			{
			background-color:$red;
			}
			
			.more
			{
			background-color:$red *.80;
			}
			
			.most
			{
			background-color:$red *.40;
			}	
	
	
		}	
			
			
		.chart_day
		{
		@include spanner (26, 639.797px, 0px, 1);
		list-style-type:none;
		padding:0px;
		
				@media screen and (max-width:em(450)) 
				{
				width:70%;
				float:left;
				margin-left:0%;
				}
		

			li
			{
			padding-bottom:55%;
			background-color:$background;
			margin:0px 0 0 0;
			border:1px solid $background;
			position:relative;
			min-height:17px;
	
				@media screen and (max-width:em(450)) 
				{
				@include spanner (7, 639.797px, 0px, 1);
				height:15px;
				padding:0px;
				}
	
	
	
			p
			{
			@include font ($bold, em(11), $light_gray, 1em, uppercase);
			position:absolute;
			top:4px;
			text-align:center;
			width:100%;
		
			}
			
		
			}		
	
	
		}

		.chart_months
		{
		@include spanner (26, 639.797, 0, 25);
		list-style-type: none;
		@include font ($bold, em(11), $light_gray, 1em, uppercase);
		@include marginizer_left (26, 639.797, 0, 1);
		margin-bottom: 4px;

		
			@media screen and (max-width:em(450)) 
				{
				width:15%;
				float:left;
				margin:17px 0 0 0;
				}
		
			li
			{
			@include spanner (26, 639.797px, 0px, 4.33);
			text-align:center;

			
				@media screen and (max-width:em(450)) 
				{
				width:100%;
				height:70px;
				padding-top:30px;
				@include box-sizing(border-box);
				}
			
			
			}
		
		
		}

	
		}
	
	
		.chart_stats
		{
		@include spanner (4, 639.797px, 0px, 4);
		margin:0px 0 30px 0;
		
		.chart_stats_inside
			{
			@include spanner (4, 639.797px, 15px, 1);
			border-right:1px solid $silver;
			
				&:nth-child(4)
				{
				border-right:0px;
				}
			
				@media screen and (max-width:em(475)) 
				{
				@include spanner (4, 639.797px, 0px, 2);
				margin-bottom:20px;
				
				}


			&:nth-child(2)
				{
				margin-right:0px;
				}
		
		
			&:nth-child(3)
				{
				border-bottom:0px;
				}
			
			&:nth-child(4)
				{
				border:0px;
				margin-right:0px;
				}
			
			}
		
			h7
			{
			text-align:center;
			}
		
		
			.big_number
			{
			@include font ($light, em(48), $light_gray, 1em, none);	
			text-align:center;
			margin:0px;
			}
		

		
		
		}
	
	
	
	.demo-placeholder
	{
	height:300px;
	border:1px solid red;
	
	}
		
	

		

	
		
		
	



	
	

	