$background:#f5f9fa;
$dark_background:#d2d2dc;
$body:#222;
$red: #cc0202;
$red_too: #f0b3b3;
$dark_red:#a50202;
$silver: #cac8d2;
$hover:#548096; 
$aqua_blue:#4094aa;
$dark_aqua:#317182;
$light_aqua:#9db9c1;
$pale_gray: #ededed;
$light_gray: #999;
$medium_gray: #666;
$dark_gray:#555;
$text:#222;
$yellow:#f0f0dc;
$green:#6B8E23;
$white:#fff;
