
* { 
	margin: 0; 
	padding: 0; 
	@include box-sizing(border-box);
}

body
	{
	@include font ($regular, em(16), $body, 1.5em, none);
	background-color:$background;
	font-family: $sans;
	font-weight:$light;
	margin:0;
	padding:0;
	}

a
	{
	text-decoration:none;
	color:inherit;
	@include transition;
	
		&:hover
		{
		color:$dark_aqua;
		}
		
		&:hover
		{
			img
			{
			opacity:0.4;
			filter:alpha(opacity=40);	
			}
		}				
	}
	
	
		em
		{
		font-style:italic;
		}
		
		
		strong	
		{
		font-weight:bold;
		font-style:normal;
		}


 p
	{
	@include font ($regular, em(15), $body, 1.8em, none);
	margin:0 0 em(12) 0;
	font-family:$open;
	
		strong
		{
		font-weight:$bold;		
		}

			a
			{
			text-decoration:none;
			color:$aqua_blue;
			@include transition;
			/*border-bottom:1px dotted $aqua_blue; 
			background-image:none, url('../temp_art/underline.svg');
			background-repeat:repeat-x;
			background-position: left 90%;*/
			
			background-image: -moz-linear-gradient(top, $background 75%, $aqua_blue 75%);
			background-image: -webkit-linear-gradient(top, $background 75%, $aqua_blue 75%);
			background-image: -o-linear-gradient(top, $background 75%, $aqua_blue 75%);
			background-image: linear-gradient(to bottom, $background 75%, $aqua_blue 75%);
			background-size: 2px 2px;
			background-origin: padding-box;
			background-position: 0px 87%;
			background-repeat: repeat-x;

				&:hover
				{
				color:$dark_aqua;
				background-image: -moz-linear-gradient(top, $background 75%, $dark_aqua 75%);
				background-image: -webkit-linear-gradient(top, $background 75%, $dark_aqua 75%);
				background-image: -o-linear-gradient(top, $background 75%, $dark_aqua 75%);
				background-image: linear-gradient(to bottom, $background 75%, $dark_aqua 75%);
				}
				
				
				&:followed
				{
				color:$dark_aqua;
				background-image: -moz-linear-gradient(top, $background 75%, $dark_aqua 75%);
				background-image: -webkit-linear-gradient(top, $background 75%, $dark_aqua 75%);
				background-image: -o-linear-gradient(top, $background 75%, $dark_aqua 75%);
				background-image: linear-gradient(to bottom, $background 75%, $dark_aqua 75%);
				}	
			}	
	}


h1
	{
	@include font ($bold, em(42), $dark_gray, 1.3em, none);
	margin:0;	

			@media screen and (max-width:em(600)) 
			{
			font-size:em(32);
			}
	
		em
		{
		font-style:normal;
		}
		
		strong
		{
		font-weight:inherit;
		}
	
	}
	
h2
	{
	@include font ($medium, em(18), $dark_gray, 1.2em, none);
	margin:0 0 15px 0;
	clear:both;
	
		a
		{
		color:inherit;

			&:hover
			{
			color:$light_gray;
			}		
		}
		
		em
		{
		font-style:normal;
		}
		
		strong
		{
		font-weight:$bold;
		}
	
	
	@media screen and (max-width:500px) 
	{

	}
	
	}
	
h3
	{
	@include font ($bold, em(14), $medium_gray, 1.4em, none);
	margin:0 0 20px 0;
	@include transition;	
	
		a
		{
		color:inherit;

			&:hover
			{
			color:$light_gray;
			}		
		}	
	
	}	

h4
	{
	@include font ($bold, em(15), $medium_gray, 1.4em, none);
	margin:0 0 5px 0;
	}

a img
	{
	border:0px;
	}

.hidden
	{
	position:absolute;
	left:-9999px;
	top:-9999px;
	}


i
	{
	font-family:$icon;
	font-style:normal;
	}


.clear
	{
	clear:both;
	height:0px;
	width:100%;
	margin:0px;
	padding:0px;
	font-size:0em;
	}
	
.red
	{
	color:$red;
	}


	
blockquote
	{
	font-size:em(14);
	line-height:1.5em;
	margin:15px 0px 18px;
	padding:0 20px;
	color:$dark_gray;
	font-family:$open;
	border-left:1px solid $silver;
	}
	
.label
	{
	@include font ($bold, em(10), $light_gray, 1em, uppercase);
	margin:0 0 4px 0;
	display:block;
	letter-spacing: .09em;
	
		a
		{
		color:inherit;
		background:none;
		
		&:hover
			{
			background:none;
			}
		
		}
	
	}
	
	.right_link
	{
	float:right;
	margin:0px 0 20px 0;
	font-size:em(14);
	color:$dark_gray;
		&:after
		{
		content:' \f0a9';
		font-family:$icon;
		color:inherit;
		display:inline-block;
		margin-left:5px;
		font-size:em(18);
		padding:0px 0 0 0;
		}
	
	
	}

	.field_label
	{
	font-family:$sans;
	@include font ($bold, em(15), $dark_gray, 1.4, none);
	margin:0px 0 10px 0;
	}

	