
/*
@import "bourbon";
@import "shortcuts";
@import "mixins";
@import "fonts";
@import "colors";
@import "variables";
@import "text_styles";
@import "common_styles";
@import "inside_page";
@import "toolbox";
@import "right_rail_monitor";
@import "answers_grid";
*/	
	
.top_info_container
{

	h1
	{

		span
		{
	
		color:$red;
		font-size:em(14);
		display:inline-block;
		border-right:1px solid $silver;
		padding-right:em(15);
		margin-right:em(5);
		font-weight:light;
		width:em(20);
	
			@media screen and (max-width:em(600)) 
			{
			width:em(20);
			font-size:em(12);
			}		
		}				
		}				
	}	


		.user_avatar
		{
		float:left;
		height:48px;
		width:48px;
		margin:0 em(10) 0 0;	
		}
		
		.user_avatar_generic
		{
		@extend .user_avatar;
		background-image:url('../temp_art/generic_avatar.png');
		background-image:none, url('../temp_art/generic_avatar.svg');
		background-repeat: no-repeat;
		background-size:96px 48px;
		
			&:hover
			{
			background-position:right;		
			}
			
			a
			{
			width:48px;
			height:48px;
			display:inline-block;
			}
		
		}



.answers_submit
{

	.question_avatar_container
	{
	@include spanner (7, 1000, 0, 7);
	margin:0 0 em(15) 0;

			a
			{
			color:inherit;
			border-bottom:0px;	
			
				&:hover
				{
				color:$aqua_blue;
				}
			
			}
	
		.user_name
		{
		@include font ($bold, em(14), $dark_gray, 1em, none);
		margin:em(10) 0 em(5);
		
		}
		
		.user_logout
		{
		@include font ($light, em(11), $light_gray, 1em, none);
		}	
	}

}


.questioner
{
@include font ($bold, em(13), $light_gray, 1.5em, none);
margin:0 0 em(20) 0;
padding:em(12) 0 0 0;

	a
	{
	color:$dark_gray;
	border-bottom:0px;
	
	&:hover
		{
	color:$aqua_blue;
	border:0px;
	}
	
		}

	
	@media screen and (max-width:em(500)) 
	{
	padding:0;
	}
}	
	
.question_avatar
	{
	width:em(40);
	height:40px;
	float:left;
	vertical-align: bottom;
	margin:0 em(10) 0 0;
	
	
		@media screen and (max-width:em(500)) 
			{
			width:em(25);
			height:25px;
			}		
}

.generic_question_avatar
	{
	@extend .question_avatar;
	background-image:url('../temp_art/generic_avatar.png');
	background-image:none, url('../temp_art/generic_avatar.svg');
	background-repeat: no-repeat;
	background-size:80px;

			&:hover
			{
			background-position:right;		
			}
	
		a
		{
		width:40px;
		height:40px;
		display:inline-block;
		
			@media screen and (max-width:em(500)) 
			{
			width:em(25);
			height:25px;
			}
		
		}
	
	}


.answer_container
{
max-width:$max_width;
width:100%;
margin:0 auto;
clear:both;
}
	
.answer_body
{
width:100%;
margin:0 0 em(30) 0;
}
	
.view_request
{
margin: em(20) 0;
	
	i
	{
	color:$silver;
	font-size:em(24);
	line-height:1em;
	float:left;
	margin:em(-3) em(5) 0 0;
	text-shadow:(em(1) em(1) em(1) $white);
	}
	
	h3
	{
	margin-bottom:5px;
	}
	
	p
	{
	margin:0;
	clear:left;
	
		a
		{
		border-bottom:0px;
		}
	
	}		
}
			
.about_request
{
color:$light_gray;
font-size:em(13);
margin:em(20) 0;
}


.answer_tools
{
@include spanner (9, 657.797, 0, 1);
height:em(100);

.answer_vote
	{
	margin:0 auto;
	width:100%;
	font-family:$icon;
	text-align:center;
	font-size:em(20);
	color:$light_gray;
	cursor:pointer;
	
			&:hover
			{
			color:$red;
			}
	
		@media screen and (max-width:em(500)) 
		{
		font-size:em(18);
		}				
	}			
}


.vote_counter
{
@include font ($bold, em(28), $light_gray, .9em, none);
text-align:center;
margin:0 0 0 0;

	@media screen and (max-width:em(500)) 
	{
	font-size:em(22);
	}			
}

.reply_body
{
	@include box-sizing(border-box);
	padding:0 0 0 0px;
	@include spanner (9, 657.797, 0, 8);
	margin:0 0px em(20) 0;

	p
		{
		margin-left:0px;
		clear:left;
						
		}				
}	
			
.append_reply
{
@include spanner (9, 657.797, 0, 9);
margin:em(5) 0 0 0;
	
	@media screen and (max-width:em(500)) 
			{
			margin:0 0 em(10) 0;			
			}

	.append_reply_field
	{
	height:em(35);
	padding:em(3) em(10) 0 em(12);
	@include spanner (9, 657.797, 0, 7);
	margin:0 em(10) em(10) 0;
	
		@media screen and (max-width:em(500)) 
			{
			width:100%;
			margin:0 0px em(10) 0;			
			}
	}

	.small_button
	{
	float:left;
	margin:0 0 0 0;
	}			
}



.append_body
{
padding:0 0 0 0px;

	p
	{
	margin-left:em(28);
	@include font ($light, em(14), $dark_gray, 1.6em, none);
	font-family:$open;

		@media screen and (max-width:em(500)) 
		{
		margin-left:em(20);
		}		
	}
				
	.question_avatar
	{
	width:25px;	
	height:25px;
	float:left;
	vertical-align: baseline;
	margin:10px em(10) 0 0;	
	padding:0px !important;
	
		a
		{
		width:25px;
		height:25px;
		}
	
	}

	.generic_question_avatar
	{
	background-size:50px;
	}


	.questioner
	{
	@include font ($bold, em(13), $dark_gray, 1.5em, none);
	padding-top:em(20);
	clear:none;

		@media screen and (max-width:em(500)) 
		{
		padding-top:em(8);
		}
								
	}
		
	.question_avatar
	{		
	padding-top:em(12);
	margin-bottom:em(10);
	}
		
	.question_link
	{
	width:em(20);
	height:em(20);
	border-left:1px solid $light_gray;
	border-bottom:1px solid $light_gray;
	float:left;
	margin:0 em(10) 0 0;
	
		@media screen and (max-width:em(500)) 
		{
		width:em(12);
		height:em(24);
		}					
	}		
}


.answers_container
	{
	width:100%;
	margin:0px 0 0px 0px;
	}
	

		.answers_list
		{
		width:100%;
		list-style-type: none;
		clear:both;
		border-bottom:1px solid $silver;
		margin:0 0 25px 0;
		padding:0px 0 5px 0;
		clear:left;
		
			h3
			{
			margin:0 0 10px 70px;	
			}
		
				
			.answer_count
			{
			width:60px;
			float:left;
			border-right:1px solid $silver;
			padding:0 10px 0 0;
			margin:0 10px 0 0;
			
				.answer_counter
				{
				@include font ($bold, em(28), $light_gray, 1em, none);
				text-align:center;
				margin:0px
				}
			
				.answer_label
				{
				@include font ($light, em(11), $light_gray, 1em, uppercase);
				text-align:center;
				margin:5px 0px 0 0;
				}			
			}			
			}
			
			.question_response
			{
			@include spanner (6, 674.797,0, 3.5);	
			list-style-type:none;
			margin:0px 0 0px 70px;
			clear:left;
			
				@media screen and (max-width:em(500)) 
				{
				width:auto;
				margin:10px 0 10px 70px;		
				}
			
				.question_link
				{
				width:15px;
				height:15px;
				border-left:1px solid $silver;
				border-bottom:1px solid $silver;
				float:left;
				margin:0 5px 0 0;
				}
				
				.question_below_line
				{
				@include font ($light, em(13), $light_gray, 1.8em, none);
				margin:0 0 5px 0;
				min-height:25px;
				margin-left:30px;
				padding-top:3px;
				
					.question_avatar
					{
					width:22px;	
					vertical-align: top;
					margin:0px 0px 0 5px;
					display:inline-block;
					float:none;
					}
				
					.user_avatar_generic
					{
					width:22px;	
					vertical-align: top;
					margin:0px 0px 0 5px;
					display:inline-block;
					float:none;
					
						a
						{
						width:22px;
						height:22px;
						}
					
					}
				
						a
						{
						color:$dark_gray;
						border-bottom:0px;
						}
				
				
						@media screen and (max-width:em(500)) 
						{
						padding-top:0px;
						}
				
				
						span
						{
						color:$light_gray;
						}
				
				}
				
				
				.question_avatar
				{
				width:22px;	
				height: 22px;
				float:left;
				vertical-align: bottom;
				margin:0 5px 0 0;
				}
				
								
				.user_avatar_generic
				{
				width:22px;	
				height: 22px;
				float:left;
				vertical-align: bottom;
				margin:0 5px 0 0;
				background-size:44px;
				}
		
			
			}
		
		.small_button
		{
		float:right;
		width:70px;
		
			@media screen and (max-width:em(500)) 
			{
			float:none;
			clear:left;
			margin:0px 0 10px 70px;
			}
		
		}
		
				
		
		/* */

	
	.question_title
	{
	margin:0 0 0px 0;
	}
	
	.question_body
	{
	height:em(90);
	margin-top:em(20);
	}			
		


	

		

	
		
		
	



	
	

	