.monitor
	{
	width:100%;
	clear:both;
	padding-bottom:20px;
	border-bottom:3px solid $silver;
	margin:0 0 30px 0;
	
	@media screen and (max-width:em(750)) 
		{
		@include spanner (4, 1000, 0, 2);	
		padding-left:0px;
		border-left:0px;
		clear:none;
		padding:0 2% 0 0;;
		border-right:1px solid $silver;
		border-bottom:0px;
		}
	
		@media screen and (max-width:em(550)) 
		{
		@include spanner (4,100,0,4);
		margin:0 0 30px 0;
		padding:0 0 30px 0;
		border-bottom:3px solid $silver;
		border-right:0px;
		}
	
		p
		{
		color:$dark_gray;
		line-height:1.4em;
		}
		
		.more_button
		{
		margin-top:20px;
		width:100%;
		height:26px;
		padding-top:6px;
		}
	
	}


	.headlines_image
		{
		width:35px;
		height:35px;
		float:left;
		margin:0px 10px 0 0px;				
		}
		
	.generic_avatar
		{
		@extend .headlines_image;
		background-image:url('../temp_art/generic_avatar.png');
		background-image:none, url('../temp_art/generic_avatar.svg');
		background-size:auto 35px;
		background-position:left top;
		cursor:pointer;
		
			&:hover
			{
			background-position:35px top;
			}
		
		}



.news_headlines
	{
	width:100%;
	margin:0px;
	padding:0px;
	list-style-type:none;
			
			li
			{
			margin:0px;
			padding:10px 0 10px 0;
			margin:0 0 0px 00px;
			clear:both;
		
				.news_headlines_text
				{
				margin: 2px 0px 5px 45px;
				color:$dark_gray;
				line-height:1.4em;
				font-size:em(13);

				
						@media screen and (max-width:em(550)) 
						{
						font-size:em(17);
						line-height:1.7em;
						}
				
						a
						{
						color:inherit;
						background-image: -moz-linear-gradient(top, $background 75%, $light_gray 75%);
						background-image: -webkit-linear-gradient(top, $background 75%, $light_gray 75%);
						background-image: -o-linear-gradient(top, $background 75%, $light_gray 75%);
						background-image: linear-gradient(to bottom, $background 75%, $light_gray 75%);
						background-size: 2px 2px;
						background-origin: padding-box;
						background-position: 0px 87%;
						background-repeat: repeat-x;
						@include transition;
						
							&:hover
							{
							color:$light_gray;
							}

						}
						
						.monitor_headline
						{
						background-image: none;
						}			
				}
				
				.label
				{
				margin: 0 0 0 45px;
				font-size:em(10);
				}

				.button
				{
					@media screen and (max-width:em(400)) 
					{
					width:50px;
					}
				
				}

				.mini_button
				{
				margin: 0 0 0 45px;
				}
			}
	
		.small_button
		{
		clear:left;		
		}
	
	
	
	}	